
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@import url('https://fonts.googleapis.com/css?family=ZCOOL+XiaoWei&display=swap');
.navbar-brand {
  font-family: 'ZCOOL XiaoWei', serif;
}
.register {
  display: inline-block;
  width: 55%;
  padding: 0px 10%;
}
.signin {
  display: inline-block;
  width: 45%;
  padding-right: 8%;
  padding-top: 0px;;
}
.containing-div {
  display: flex;
}
div form {
  padding: 50px 10px;
}
form label {
  /*margin-bottom: 30px;*/
  display: block;
}

.errormessage {
  color: red;
}